header {
    text-align: center;
    font-size: 30px;
    font-family: 'Short Stack', cursive;
    z-index: -1;
    color: ghostwhite;
    padding: 15px;
}

.player {
	width: 100px;
    height: 100px;
    top: 25px;
    left: 0;
    position: absolute;
}

.board {
    width: 850px;
    height: 100px;
    position: fixed;
    bottom: 12%;

}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -500;
}

.one{
    background: url("images/leopard2.png");
    width: 150px;
    height: 81px;
    top: 10px;
    left: 0;
}

.two{
    background: url("images/panther4.png");
    width: 150px;
    height: 92px;
    top: 50px;
    left: 0px;
    z-index: 5;
}

.score {
    position: fixed;
    top: 20%;
    background: white;
    border-radius: 15px;
    border: 2px solid yellow;
    z-index: 10;
    padding: 5px;
}

.pOne{
    left: 20%;
}

.pTwo{
    left: 80%;
}

button {
    position: fixed;
    top: 96%;
    left: 46%;
    padding: 2px;
}

.winCounter {
    position: fixed;
    height: 95px;
    width: 60px;
    top: 40%;
    background: white;
    border-radius: 15px;
    border: 4px solid red;
    z-index: 10;
    padding: 5px;
    text-align: center;
}

.counterOne {
    left: 10%;
}

.counterTwo {
    left: 90%;
}