header {
    text-align: center;
    font-size: 30px;
    font-family: 'Short Stack', cursive;
    z-index: -1;
    color: ghostwhite;
    padding: 15px;
}

form {
    background: grey;
    position: fixed;
    padding: 12px;
    border: 2px dashed black;
    text-align: center;
    left: 35%;
    top: 30%;
    z-index: 50;
}

.player {
	width: 100px;
    height: 100px;
    top: 25px;
    left: 0;
    position: absolute;
}

.board {
    width: 850px;
    height: 100px;
    position: fixed;
    top: 50%;

}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -500;
}

.one{
    background: url("images/leopard2.png");
    width: 150px;
    height: 81px;
    top: 10px;
    left: 0;
}

.two{
    background: url("images/panther4.png");
    width: 150px;
    height: 92px;
    top: 50px;
    left: 0px;
    z-index: 5;
}



.pOne{
    left: 10%;
}

.pTwo{
    left: 75%;
}

button {
    font-family: 'Short Stack', cursive;
    position: fixed;
    top: 96%;
    left: 46%;
    padding: 2px;
}

.winCounter {
    font-family: 'Short Stack', cursive;
    position: fixed;
    top: 40%;
    background: lightyellow;
    border-radius: 15px;
    border: 4px solid red;
    z-index: 10;
    padding: 5px;
    text-align: center;
    opacity: .6;
}

.counterOne {
    left: 10%;
    top: 90%;
}

.counterTwo {
    left: 60%;
    top: 90%;
}

.enemy {
    
    position:fixed;
    z-index: 100;
  
}
